body {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #000;
}
.container-fluid {
  max-width: 1260px;
}
a {
  color: #b52868;
}
a:hover {
  text-decoration: none;
  color: #7cba19;
}
h1 {
  color: #7CBA19;
  font-family: 'Noto Sans';
  font-size: 52px;
  line-height: 54px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 1px #FFF;
  margin-bottom: 18px;
}
h3 {
  color: #AD2755;
  font-family: 'Noto Sans';
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 13px;
}
h4 {
  color: #2E2E2E;
  font-family: 'Noto Sans';
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 1px #FFF;
}
p {
  font-size: 14px;
}
p a {
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}
.wrapper {
  overflow: hidden;
}
input {
  transition: color 0.3s;
}
.links-block {
  width: 100%;
  margin-top: 14px;
}
.links-block a {
  display: block;
  width: 48%;
  float: left;
  text-align: center;
  border: 2px solid #7CBA19;
  border-radius: 26px;
  color: #000;
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 1px #FFF;
  padding: 14px 5px;
}
.links-block a:hover {
  background: #7CBA19;
  color: #fff;
  text-shadow: none;
}
.links-block a:nth-child(2n) {
  float: right;
  border-color: #B52868;
}
.links-block a:nth-child(2n):hover {
  background: #B52868;
}
/* style page */
.button-grean,
.link-more a {
  width: 214px;
  height: 52px;
  background: url(../img/call-fon-main.png) no-repeat 50% 0 #87c226;
  -moz-border-radius: 26px;
  -webkit-border-radius: 26px;
  border-radius: 26px;
  position: relative;
  color: #FFF;
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 1px rgba(61, 99, 0, 0.17);
  text-align: center;
  padding-top: 16px;
  cursor: pointer;
}
.button-grean:before,
.link-more a:before {
  width: 100%;
  height: 33px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: url(../img/call-fon.png) no-repeat 50% 0;
}
.button-grean:hover,
.link-more a:hover {
  background: url(../img/call-fon-dark.png) no-repeat 50% 0;
  color: #fff;
}
.link-more a {
  display: inline-block;
}
.link-more-dark a {
  background: url(../img/call-fon-dark.png) no-repeat 50% 0;
}
.link-more-dark a:before {
  content: none;
}
.link-more-dark a:hover {
  background: url(../img/violet.png) no-repeat 50% 0;
}
label {
  display: block;
}
label input,
label textarea {
  width: 100%;
  height: 52px;
  border-radius: 26px;
  color: #2F302A;
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px 0 23px;
  border: none;
}
label input:focus,
label textarea:focus {
  border: 1px solid #b52868;
}
label textarea {
  height: 89px;
  padding-top: 16px;
}
.button-class input {
  border: none;
  padding: 0;
  width: 100%;
  background-size: cover;
}
.button-class input:hover {
  background: url(../img/call-fon-dark.png) 50% 0;
}
/* --------------------------------- */
header {
  width: 100%;
  height: auto;
  background: url(../img/bg/header.jpg) no-repeat 50% 0;
  background-size: cover;
  position: relative;
}
header .top-header {
  position: relative;
  padding-top: 25px;
  margin-bottom: 13px;
}
header .top-header .logo {
  float: left;
  margin-right: 2.2%;
}
header .top-header .logo img {
  max-width: 100%;
}
header .top-header .block-wiki {
  float: left;
  width: 32%;
  position: relative;
  padding-left: 48px;
  font-size: 11px;
  line-height: 17px;
  margin-top: 10px;
}
header .top-header .block-wiki:before {
  content: '';
  width: 38px;
  height: 35px;
  display: block;
  background: url(../img/header/wiki.png) no-repeat;
  position: absolute;
  left: 0;
  top: 10px;
  top: calc(50% - 23px);
}
header .top-header .block-wiki a {
  font-weight: 700;
  display: inline-block;
  text-decoration: underline;
}
header .top-header .block-wiki a:hover {
  text-decoration: none;
}
header .top-header .right-header {
  float: right;
  margin-top: 6px;
}
header .top-header .right-header .call-back {
  float: right;
}
header .title-header p {
  font-size: 17px;
  font-weight: 600;
  padding-right: 30px;
  margin-bottom: 20px;
}
header .title-header .container-left-h {
  padding-left: 30px;
  max-width: 593px;
  position: relative;
  z-index: 10;
}
header .title-header .container-left-h p {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  color: #BA3770;
  padding-right: 0;
  max-width: 500px;
}
header .title-header ul {
  margin-bottom: 18px;
}
header .title-header ul li {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 13px;
  padding-left: 33px;
  position: relative;
}
header .title-header ul li:before {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  background: url(../svg/marker-1.svg) no-repeat;
}
header .wrap-title-header {
  padding-bottom: 376px;
  padding-left: 360px;
  position: relative;
}
header .wrap-title-header:before {
  content: '';
  width: 847px;
  height: 816px;
  background: url(../img/header/people.png) no-repeat;
  position: absolute;
  left: -20px;
  bottom: 0;
}
header .wrap-title-header:after {
  content: '';
  width: 730px;
  height: 473px;
  display: block;
  background: url(../img/header/product.png) no-repeat;
  position: absolute;
  right: 2px;
  bottom: 5px;
}
header .form-header {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.57);
  padding-top: 16px;
  padding-bottom: 22px;
}
header .form-header .title-form {
  text-align: center;
  color: #FFF;
  font-family: 'Noto Sans';
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.tel-heder {
  float: left;
  margin-right: 42px;
  margin-top: -13px;
}
.tel-heder a {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Noto Sans';
  letter-spacing: -1.5px;
  color: #000;
}
.tel-heder a span {
  color: #7DBB1F;
}
.tel-heder a:hover {
  color: #7DBB1F;
}
.tel-heder div {
  text-align: right;
  color: #000;
  font-size: 11px;
  font-weight: 600;
  margin-top: 2px;
}
form.form-horizontal label {
  width: 25.6%;
  float: left;
  margin-right: 2%;
}
form.form-horizontal .button-class {
  float: right;
  width: 17.1%;
}
form.form-icone label input {
  padding-right: 45px;
}
form.form-icone label input[type='text'] {
  background: url(../img/input-icone/icone-1.png) no-repeat #ffffff;
  background-position: right 50%;
}
form.form-icone label input[type='tel'] {
  background: url(../img/input-icone/icone-2.png) no-repeat #ffffff;
  background-position: right 50%;
}
form.form-icone label input[type='email'] {
  background: url(../img/input-icone/icone-3.png) no-repeat #ffffff;
  background-position: right 50%;
}
.video-section {
  width: 100%;
  height: auto;
  background: url(../img/bg/video.jpg) no-repeat 50% top;
  background-size: cover;
  padding: 118px 0 119px 0;
}
.video-section .block-video {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  padding: 21px 21px 22px 31px;
}
.video-section .block-video .block-video-l {
  float: left;
  width: 37.5%;
  padding-top: 10px;
}
.video-section .block-video .block-video-l p {
  line-height: 23px;
}
.video-section .block-video .block-video-r {
  width: 60%;
  float: right;
}
.video-section .block-video .block-video-r iframe {
  width: 100%;
  height: 391px;
  border: none;
  outline: none;
}
.slider-section {
  width: 100%;
  padding: 0px 0 42px 0;
  background: url(../img/bg/slider.jpg) no-repeat 50% top;
  background-size: cover;
  overflow: hidden;
}
.slider-section nav {
  width: 100%;
  padding: 19px 2px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 16px;
}
.slider-section nav a {
  display: inline-block;
  color: #FFF;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  margin: 0 5px;
}
.slider-section nav a:hover {
  border-color: #b52868;
}
.tegs-img {
  background-color: #AD2755;
  color: #FFF;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 26px;
  position: absolute;
  padding: 6px 16px;
  top: 10px;
  left: -20px;
  z-index: 2;
}
.slider-wr {
  max-width: 275px;
  width: 95%;
  margin: auto;
  position: relative;
  z-index: 9;
  padding-top: 28px;
}
.slider-wr .slider-block {
  min-height: 643px;
  background-color: #D6DBDD;
  border: 1px solid #D6DBDD;
  width: 100%;
}
.slider-wr .img-slider {
  width: 100%;
  position: relative;
  margin-bottom: 22px;
}
.slider-wr .img-slider img {
  max-width: 95%;
  margin-top: -26px;
}
.slider-wr .img-slider .info-img-s {
  position: absolute;
  top: 15px;
  right: 18px;
  font-size: 11px;
  font-weight: 700;
  z-index: 3;
}
.slider-wr .title-slider {
  color: #AD2755;
  font-family: 'Noto Sans';
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px;
  padding: 0 10px;
}
.slider-wr .price-slider {
  font-family: 'Noto Sans';
  font-size: 18px;
  margin-bottom: 10px;
}
.slider-wr .top-slider {
  background: #fff;
  padding-bottom: 27px;
  position: relative;
}
.slider-wr .text-slider {
  padding: 24px 25px 10px 25px;
  text-align: left;
}
.slider-wr .text-slider .title-t-s {
  color: #AD2755;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 1px #FFF;
  margin-bottom: 4px;
  text-align: center;
  margin-top: 12px;
}
.slider-wr .text-slider .title-t-s:first-child {
  margin-top: 0;
}
.slider-wr .text-slider .title-t-s:before,
.slider-wr .text-slider .title-t-s:after {
  content: '–';
}
.slider-wr .text-slider a {
  text-align: left;
  display: inline-block;
  border-bottom: 1px dashed #030200;
  margin-bottom: 17px;
  color: #030200;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  display: block;
  display: inline !important;
}
.slider-wr .text-slider a:hover {
  text-decoration: none;
  color: #b52868;
}
.slider-wr .text-slider a:last-child {
  margin-bottom: 0;
}
.benefit-section {
  width: 100%;
  padding: 0px 0 12px 0;
}
.benefit-section ul {
  max-width: 830px;
  padding-top: 19px;
  margin-left: 27px;
  margin-bottom: -20px !important;
}
.benefit-section ul li {
  display: block;
  width: 49%;
  float: left;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 25px;
  padding-left: 66px;
  position: relative;
  min-height: 66px;
}
.benefit-section ul li:nth-child(2n) {
  float: right;
}
.benefit-section ul li:nth-child(2n) + li {
  clear: left;
}
.benefit-section ul li:before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background: url(../img/sprites/sprites-1.png) no-repeat;
  position: absolute;
  top: 4px;
  left: 0px;
}
.benefit-section ul li:nth-child(2):before {
  background-position: -53px 0;
}
.benefit-section ul li:nth-child(3):before {
  background-position: -104px 0;
  top: -10px;
}
.benefit-section ul li:nth-child(4):before {
  background-position: -153px 0;
  top: -7px;
}
.benefit-section ul li:nth-child(5):before {
  width: 52px;
  background-position: -208px 0;
  top: -21px;
}
.benefit-section ul li:nth-child(6):before {
  width: 52px;
  background-position: -265px 0;
  top: -23px;
}
.benefit-section .col-lg-12 {
  position: relative;
  padding-top: 27px;
  padding-bottom: 0px;
}
.benefit-section .col-lg-12:before {
  content: '';
  width: 485px;
  height: 519px;
  display: block;
  background: url(../img/bg/benefist.jpg) no-repeat;
  position: absolute;
  top: -40px;
  right: -19px;
}
.flip-clock-wrapper ul li:before,
.flip-clock-wrapper ul li:after {
  content: '';
  width: 1px;
  height: 8px;
  display: block;
  position: absolute;
  background: #c7c9c8;
  top: 15px;
  left: 2px;
  z-index: 999;
  opacity: 0.6;
}
.flip-clock-wrapper ul li:after {
  left: auto;
  right: 2px;
}
.action-section {
  width: 100%;
  background: url(../img/bg/action.jpg) no-repeat 50% top;
  background-size: cover;
  padding: 0px 0 27px 0;
  position: relative;
  min-height: 100px;
}
.action-section .col-lg-12 {
  padding-top: 20px;
  position: relative;
}
.action-section .action-info {
  width: 226px;
  height: 94px;
  background: url(../svg/action.svg) no-repeat;
  position: absolute;
  top: 0px;
  left: 28px;
}
.action-section .title-action {
  padding-left: 262px;
  margin-bottom: 46px;
}
.action-section .title-action .tilte-ac-l {
  font-size: 27px;
  color: #fff;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 4px 9px 1px #000000;
  float: left;
}
.action-section .title-action .tilte-ac-l span {
  color: #DDFF95;
}
.action-section .title-action .timer-action {
  float: right;
  margin-top: 4px;
}
.action-section .title-action .timer-action .text-timer {
  float: left;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 1px rgba(54, 84, 0, 0.17);
  margin: 5px 20px 0 0;
}
.action-section .title-action .timer-action .timer-clock {
  float: right;
  margin-top: -2px;
}
.action-section .action-list {
  width: 100%;
  margin-bottom: 0px;
}
.action-section .action-list ul {
  width: 77%;
  padding-left: 41px;
  float: left;
}
.action-section .action-list ul li {
  float: left;
  width: 25%;
  text-align: center;
  margin-right: 12.5%;
  position: relative;
}
.action-section .action-list ul li:last-child {
  margin-right: 0;
}
.action-section .action-list ul li:nth-child(1):after {
  content: '+';
  color: #FFF;
  font-family: 'Noto Sans';
  font-size: 72px;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  top: 69px;
  right: -77px;
}
.action-section .action-list ul li:nth-child(2):after {
  content: '=';
  color: #FFF;
  font-family: 'Noto Sans';
  font-size: 72px;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  top: 69px;
  right: -77px;
}
.action-section .action-list ul li .img-action {
  position: relative;
  margin-bottom: 13px;
}
.action-section .action-list ul li .img-action .tegs-img {
  top: 23px;
  left: 20px;
}
.action-section .action-list ul li .img-action img {
  max-width: 100%;
}
.action-section .action-list ul li p {
  color: #FFF;
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 15px;
  margin-bottom: 0;
}
.action-section .action-list .order-now {
  float: right;
  width: 22%;
  text-align: center;
}
.action-section .action-list .order-now .link-more {
  margin-top: 90px;
}
.reviews-section {
  padding: 17px 0 8px 0;
  background: url(../img/bg/reviews.jpg) no-repeat 50% top;
  background-size: cover;
}
.reviews-section .top-reviews {
  margin-bottom: 29px;
}
.reviews-section .top-reviews h4 {
  float: left;
  margin-top: 29px;
}
.reviews-section .top-reviews .links-block {
  float: right;
  width: auto;
}
.reviews-section .top-reviews .links-block a {
  white-space: nowrap;
  padding: 13px 45px;
}
.reviews-section .top-reviews .links-block a:first-child {
  border-color: #2E2E2E;
}
.reviews-section .top-reviews .links-block a:first-child:hover {
  background: #2E2E2E;
}
ul.reviews-ul li {
  width: 22.5%;
  min-height: 382px;
  background-color: #FFF;
  padding: 18px 21px 10px 21px;
  margin-right: 3.3%;
  margin-bottom: 20px;
  float: left;
}
ul.reviews-ul li:nth-child(4n) {
  margin-right: 0;
}
ul.reviews-ul li:nth-child(4n) + li {
  clear: left;
}
ul.reviews-ul li .ava-reviws {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
}
ul.reviews-ul li .ava-reviws:before {
  content: '';
  display: block;
  width: 96%;
  height: 96%;
  top: 2%;
  left: 2%;
  position: absolute;
  border: 1px dashed #fff;
}
ul.reviews-ul li .ava-reviws img {
  width: 100%;
}
ul.reviews-ul li .name-user {
  color: #6A9D19;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 1px #FFF;
  text-align: center;
  margin-bottom: 9px;
}
ul.reviews-ul li .name-user:before,
ul.reviews-ul li .name-user:after {
  content: '–';
}
ul.reviews-ul li p {
  margin-bottom: 0;
  color: #030200;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}
.how-order-section {
  width: 100%;
  background: url(../img/bg/how-order.jpg) no-repeat 50% top;
  background-size: cover;
}
.how-order-section h4 {
  color: #9F0032;
  margin-top: 29px;
  margin-bottom: 55px;
}
.how-order-section ul {
  max-width: 583px;
  counter-reset: heading;
  float: left;
}
.how-order-section ul li {
  margin-bottom: 32px;
  position: relative;
  padding-left: 93px;
  color: #000;
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
  min-height: 50px;
}
.how-order-section ul li:nth-child(2),
.how-order-section ul li:nth-child(3) {
  max-width: 381px;
}
.how-order-section ul li:before {
  counter-increment: heading;
  content: counter(heading);
  position: absolute;
  top: -5px;
  left: 10px;
  width: 66px;
  height: 55px;
  background: url(../img/list-orrder.png) no-repeat;
  text-align: center;
  color: #FFFEFE;
  font-family: 'Noto Sans';
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 1px rgba(36, 59, 0, 0.17);
  padding-top: 17px;
}
.how-order-section .col-lg-12 {
  padding-top: 1px;
  padding-bottom: 34px;
}
.how-order-section .block-form {
  position: absolute;
  width: 274px;
  height: 100%;
  background-color: rgba(159, 0, 50, 0.87);
  padding: 24px 12px 10px 12px;
  top: 0px;
  right: 15px;
}
.how-order-section .block-form label {
  margin-bottom: 18px;
}
.how-order-section .block-form label input:focus,
.how-order-section .block-form label textarea:focus {
  border-color: #7cba19;
}
footer {
  padding: 49px 0 20px 0;
  position: relative;
  overflow: hidden;
}
footer .copirait {
  float: left;
  max-width: 220px;
  font-size: 11px;
  font-weight: 600;
}
footer .copirait b {
  font-weight: 700;
}
footer .tel-heder {
  float: right;
  margin-top: -7px;
  margin-right: 0;
  position: relative;
  z-index: 2;
}
footer .social {
  position: absolute;
  width: 100%;
  text-align: center;
}
footer .social ul {
  position: relative;
  z-index: 5;
  display: inline-block;
  margin-top: 14px;
}
footer .social ul li {
  display: block;
  display: inline-block;
}
footer .social ul li a {
  display: block;
  width: 28px;
  height: 27px;
  background: url(../img/social.png) no-repeat;
}
footer .social ul li a.soc-2 {
  background-position: -31px 0;
}
footer .social ul li a.soc-3 {
  background-position: -60px 0;
}
footer .social ul li a.soc-4 {
  background-position: -89px 0;
}
footer .social ul li a.soc-5 {
  background-position: -118px 0;
}
footer .social ul li a.soc-6 {
  background-position: -148px 0;
}
footer .social ul li a:hover {
  opacity: 0.8;
}
